<p class="lead" n:if="$category->description">
	{$category->description}
</p>
<ul class="media-list">
	<li n:foreach="$products as $product">
		{control Ytnuk\Shop\Product\Control-$product->id:media}
	</li>
</ul>
{control Ytnuk\Orm\Pagination\Control-products}
