<nav class="row" n:if="$products->count()">
    <ul n:inner-foreach="$products as $product" class="col-block-xs-2 col-block-sm-3">
        <li>
            <article class="panel panel-default text-center">
                <header class="panel-heading">
                    <h3 class="panel-title">
                        <a href="{plink :Shop:Product:Presenter:view, id=>$product->id}">
                            {_$product->title}
                        </a>
                    </h3>
                </header>
                <section class="panel-body">
                    <a href="{plink :Shop:Product:Presenter:view, id=>$product->id}" class="thumbnail">
                        <img class="img-rounded img-responsive" src="http://placehold.it/260" alt="">
                    </a>
                    <p>
                        <small>{if $product->description}{$product->description|truncate:100}{else}{_shop.product.no_description}{/if}</small>
                    </p>
                </section>
                <footer class="panel-footer">
                    <span class="panel-title">{$product->price|number}</span>
                </footer>
            </article>
        </li>
    </ul>
</nav>
<aside class="alert alert-info" n:if="!$products->count()">{_shop.category.empty}</aside>