parameters:
    modules:
        shop:
            directory: %modules.directory%/Shop
            styles:
                directory: %modules.shop.directory%/styles
    components:
        products:
            directory: %modules.shop.directory%/Component/Products
    styles:
        - %modules.shop.styles.directory%/shop-product.css
services:
    CMS\Shop\Model\CategoryFacade: self
    CMS\Shop\Model\CategoryRepository: self
    CMS\Shop\Form\CategoryFormFactory: self
    CMS\Shop\Model\ProductFacade: self
    CMS\Shop\Model\ProductRepository: self
    CMS\Shop\Form\ProductFormFactory: self
    CMS\Shop\Component\Products\ProductsControl: self