parameters:
services:
    categoryRepository: CMS\Shop\Model\CategoryRepository
    productRepository: CMS\Shop\Model\ProductRepository
    productsControl: CMS\Shop\Component\Products\ProductsControl
factories: