<table class="table" n:if="$items">
    <thead>
        <tr>
            <th>{_shop.cart.item}</th>
            <th class="text-center">{_shop.cart.price}</th>
            <th class="text-center">{_shop.cart.total}</th>
        </tr>
    </thead>
    <tbody n:inner-foreach="$products as $product">
        <tr>
            <td colspan="3">
                <h3>
                    <a href="{plink :Shop:Product:Presenter:view, id=>$product->id}"><span class="glyphicon glyphicon-link"></span></a>
                        {_$product->title}
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                {control form-$product->id}
            </td>
            <th class="text-center">
    <h4>
        {$product->price|number}
    </h4>
</th>
<th class="text-center">
<h4>
    {$product->price*$items[$product->id]['quantity']|number}
</h4>
</th>
</tr>
</tbody>
<tfoot>
    <tr>
        <th><h3>{_shop.cart.total}</h3></th>
<th colspan="2" class="text-right"><h3>{12345678|number}</h3></th>
</tr>
<tr>
    <td colspan="3">
        <button type="button" class="btn btn-lg btn-success pull-right">
            {_shop.cart.checkout} <span class="glyphicon glyphicon-check"></span>
        </button>
    </td>
</tr>
</tfoot>
</table>
<div class="alert alert-info" n:if="!$items">{_shop.cart.empty}</div>