<div class="component-products-list">
    {if count($products)}
        <div class="row">
            <ul n:inner-foreach="$products as $product" class="col-block-xs-2 col-block-sm-3">
                <li>
                    <div class="panel panel-primary text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="{plink Product:view, id=>$product->id}">
                                    {$product->title}
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <a href="{plink Product:view, id=>$product->id}" class="thumbnail">
                                <img class="img-rounded img-responsive" src="http://i.alz.cz/ImgW.ashx?fd=f3&cd=NT358f2g" alt="">
                            </a>
                            <p n:if="$product->description">
                                <small>
                                    {$product->description|truncate:100}
                                </small>
                            </p>
                        </div>
                        <div class="panel-footer">
                            <span class="panel-title">
                                {var price = $product->price*$template->translate('shop.currency.value')}
                                {_shop.currency.price, [price => $template->number($price)]}
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            {else}
                <div class="alert alert-info">{_shop.category.no_product}</div>
                {/if}
                </div>