{block content}
<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
    <th>...</th>
    <th>...</th>
</thead>
<tbody n:inner-foreach="$categories as $category">
    <tr>
        <td>
            {_$category->menu->title}
        </td>
        <td>
            <a class="btn btn-warning" n:href="Presenter:edit,id=>$category->id">{_form.button.edit}</a>
        </td>
    </tr>
</tbody>
</table>