services:
    - WebEdit\Shop\Product\Facade
    - WebEdit\Shop\Product\Repository
    - WebEdit\Shop\Product\Form\Factory
    -
        implement: WebEdit\Shop\Product\Control\Factory
        parameters: [category: NULL]
        arguments: [%category%]