parameters:
    modules:
        shop:
            product:
                directory: %modules.shop.directory%/Product
                styles:
                    directory: %modules.shop.product.directory%/styles
    styles:
        - %modules.shop.product.styles.directory%/shop-product.css
services:
    - CMS\Shop\Product\Model\Facade
    - CMS\Shop\Product\Model\Repository
    - CMS\Shop\Product\Form\Factory