parameters:
    webedit:
        shop:
            product:
                directory: %webedit.shop.directory%/Product
    styles:
        - %webedit.shop.product.directory%/Presenter/style.css
services:
    - WebEdit\Shop\Product\Model\Facade
    - WebEdit\Shop\Product\Model\Repository
    - WebEdit\Shop\Product\Form\Factory
    -
        create: WebEdit\Shop\Product\Control(%category%)
        implement: WebEdit\Shop\Product\Control\Factory
        parameters: [category: NULL]