currency:
    price: %price% Kč
category:
    description: Popis kategorie
    no_product: V této kategorii se nenachází žádný produkt.
product:
    description: Popis produktu
    no_description: Popis produktu není k dispozici.
    parameters: Parametry
    photos: Foto
    videos: Video
    reviews: Hodnocení
    comments: Komentáře
admin:
    overview: Přehled
    category:
        add: Přidat kategorii
        edit: 'Upravit kategorii: %category%'
        list: Kategorie
        form:
            description:
                label: Krátký popis
    product:
        add: Přidat produkt
        edit: 'Upravit produkt: %product%'
        list: Produkty
        form:
            description:
                label: Krátký popis
            content:
                label: Popis
            price:
                label: Cena