{layout $frontLayout}
{#module}
<div class="row">
    <div class="col-sm-3">
        {control menu:sidebar shop_category}
    </div>
    <div class="col-sm-9">
        {include #content}
    </div>
</div>