{layout $frontLayout}
{#module}
<div class="row">
    <div class="col-sm-3">
        {control menu shopCategory,panel}
    </div>
    <div class="col-sm-9">
        {include #content}
    </div>
</div>