{block content}
{control product:list}
{if $category->description}
    <div class="page-header">
        <h3>{_shop.category.description} <small>{_$category->menu->title}</small></h3>
    </div>
    {$category->description|noescape}
{/if}