category:
    admin:
        add: Add new category
        edit: Edit category
        list: Categories
    form:
        group: Category
        description:
            label: Description
    description: Category description
    empty: There is no product in this category
    not_empty: This category is not empty.
product:
    admin:
        add: Add new product
        edit: Edit product
        list: Products
    form:
        group: Product
        description:
            label: Description
        content:
            label: Content
        price:
            label: Price
    description: Product description
    no_description: There is no description available.
    parameters: Parameters
    photos: Photos
    videos: Videos
    reviews: Reviews
    comments: Comments
cart:
    form:
        group: Shopping cart
        quantity:
            label: Quantity
    title: Shopping cart
    shipping: Shipping
    payment: Payment
    item: Item
    price: Price
    total: Total
    checkout: Checkout
    empty: There is no item in your shopping cart.
    step: Step %step%