category:
    admin:
        add: Přidat kategorii
        edit: Upravit kategorii
        list: Kategorie
    form:
        group: Kategorie
        description:
            label: Krátký popis
    description: Popis kategorie
    empty: V této kategorii se nenachází žádný produkt.
    not_empty: Kategorie není prázdná.
product:
    admin:
        add: Přidat produkt
        edit: Upravit produkt
        list: Produkty
    form:
        group: Produkt
        description:
            label: Krátký popis
        content:
            label: Popis
        price:
            label: Cena
    description: Popis produktu
    no_description: Popis produktu není k dispozici.
    parameters: Parametry
    photos: Foto
    videos: Video
    reviews: Hodnocení
    comments: Komentáře
cart:
    form:
        group: Nákupní košík
        quantity:
            label: Počet
    title: Nákupní košík
    shipping: Doprava
    payment: Platba
    item: Položka
    price: Cena
    total: Celkem
    checkout: Pokladna
    empty: Váš nákupní košík neobsahuje žádnou položku.
    step: Krok %step%